<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html>
<head>
    <title>Komuna e Kacanikut- Kontratat Publike</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/kacanik.png" />

<style>

.navbar-brand
{
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

</style>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">




    <a class="navbar-brand" href="/"> <img src="/img/kacanik.png" height="45px"> &nbsp&nbspKomuna Kaçanik - 2018 </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">

     <!--    <span class="navbar-toggler-icon"></span>
    </button>
 -->
    <div class="collapse navbar-collapse" id="navbarColor01">
        
        
    </div>
</nav>

<body>
<br>